<section class="hero" id="home">
  <div class="container">
    <include src="./partials/header.html"></include>
    <h1 class="hero__title">
      ice cream made with <span class="hero__span">passion</span>
    </h1>
    <div class="hero__list">
      <button type="button" class="page__button">Products</button>
      <button type="button" class="hero__btn ">How it’s made?</button>
    </div>
    <picture class=" hero__image">
      <source srcset="./images/hero-header/mobile/ice-cream-1x.png 1x, ./images/hero-header/mobile/ice-cream-2x.png 2x"
        media="(max-width:767px)" />
      <source
        srcset="./images/hero-header/tablet/ice-cream-tablet-1x.png 1x, ./images/hero-header/tablet/ice-cream-tablet-2x.png 2x"
        media="(min-width:768px)" />
      <source
        srcset="./images/hero-header/desktop/ice-cream-desktop-1x.png 1x, ./images/hero-header/desktop/ice-cream-desktop-2x.png 2x"
        media="(min-width:1200px)" />
      <img src="./images/hero-header/mobile/ice-cream-1x.png" alt="ice-cream" />
    </picture>

    <ul class="hero__list-advertising">
      <li class="hero__item-advertising">
        <p class="hero__numbers">16</p>
        <p class="hero__scrool">cafes</p>
      </li>
      <li>
        <p class="hero__numbers">23</p>
        <p class="hero__scrool">food trucks</p>
      </li>
    </ul>

    <picture class="hero__points-left-mob">
      <source srcset="./images/hero-header/mobile/points-left-1x.png x1" ,
        srcset="./images/hero-header/mobile/points-left-2x.png x2" media="(max-width:767px)" />
      <img src="./images/hero-header/mobile/points-left-1x.png" alt="points-left" />
    </picture>

    <picture class="hero__points-left-tab">
      <source srcset="./images/hero-header/tablet/points-left-tablet-1x.png x1" ,
        srcset="./images/hero-header/tablet/points-left-tablet-2x.png x2" media="(min-width:768px)" />
      <img src="./images/hero-header/tablet/points-left-tablet-1x.png" alt="points-left" />
    </picture>

    <picture class="hero__points-right-mob">
      <source srcset="./images/hero-header/mobile/points-raight-1x.png x1" ,
        srcset="./images/hero-header/mobile/points-raight-2x.png x2" media="(max-width:767px)" />
      <img src="./images/hero-header/mobile/points-raight-1x.png" alt="points-raight" />
    </picture>

    <picture class="hero__points-right-tab">
      <source srcset="./images/hero-header/tablet/points-raight-tablet-1x.png x1" ,
        srcset="./images/hero-header/tablet/points-raight-tablet-2x.png x2" media="(min-width:768px)" />
      <img src="./images/hero-header/tablet/points-raight-tablet-1x.png" alt="points-raight" />
    </picture>

    <picture class="hero__points-desk">
      <source srcset="./images/hero-header/desktop/points-desktop-1x.png x1" ,
        srcset="./images/hero-header/desktop/points-desktop-2x.png x2" media="(min-width:1200px)" />
      <img src="./images/hero-header/desktop/points-desktop-1x.png" alt="points-raight" />
    </picture>
    <div class="hero__block">
      <picture class="hero__picture">
        <source srcset="./images/hero-header/tablet/many-ic-tablet-1x.png x1" ,
          srcset="./images/hero-header/tablet/many-ic-tablet-2x.png x2" media="(max-width:767px)" />
        <source srcset="./images/hero-header/desktop/many-ic-desktop-1x.png x1" ,
          srcset="./images/hero-header/desktop/many-ic-desktop-2x.png x2" media="(min-width:768px)" />
        <img src="./images/hero-header/tablet/many-ic-tablet-1x.png" alt="points-raight" />
      </picture>
      <div class="hero__box">
        <p class="hero__pretitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et
        </p>
        <svg class="hero__arrow" width="40 " height="40">
          <use href="./images/icons.svg#arrow-defat"></use>
        </svg>
      </div>
    </div>
  </div>
</section>