<section class="hero" id="home">
  <div class="hero__box container">
    <div class="hero__content">
      <div class="hero__list">
        <h1 class="hero__title">
          Ice cream made with<span class="hero__span">passion</span>
        </h1>
        <div class="hero__button-box">
          <a class="page__button" href="#our-products">Products</a>
          <a class="hero__btn" href="#how-its-made">How it’s made?</a>
        </div>
      </div>
      <ul class="hero__list-advertising">
        <li class="hero__item-advertising">
          <p class="hero__numbers">16</p>
          <p class="hero__scrool">cafes</p>
        </li>
        <li>
          <p class="hero__numbers">23</p>
          <p class="hero__scrool">food trucks</p>
        </li>
      </ul>
    </div>
    <div class="hero__text-box">
      <picture>
        <source
          srcset="
            ./images/hero-header/desktop/many-ic-desktop-1x.png 1x,
            ./images/hero-header/desktop/many-ic-desktop-2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero-header/tablet/many-ic-tablet-1x.png 1x,
            ./images/hero-header/tablet/many-ic-tablet-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="hero__images-left"
          src="./images/hero-header/desktop/many-ic-desktop-1x.png"
          alt="ice-cream in plate"
        />
      </picture>
      <div class="hero__text-box-item">
        <p class="hero__pretitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#customer-reviews" class="hero__text-box-item-icon"
          ><svg class="hero__arrow" width="40 " height="40">
            <use href="./images/icons.svg#arrow-defat"></use></svg
        ></a>
      </div>
    </div>

    <div class="hero__images-box">
      <picture>
        <source
          srcset="
            ./images/hero-header/desktop/ice-cream-desktop-1x.png 1x,
            ./images/hero-header/desktop/ice-cream-desktop-2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero-header/tablet/ice-cream-tablet-1x.png 1x,
            ./images/hero-header/tablet/ice-cream-tablet-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero-header/mobile/ice-cream-1x.png 1x,
            ./images/hero-header/mobile/ice-cream-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="hero__images"
          src="./images/hero-header/desktop/ice-cream-desktop-1x.png"
          alt="ice-cream"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/hero-header/desktop/points-desktop-1x.png 1x,
            ./images/hero-header/desktop/points-desktop-2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/hero-header/tablet/points-1x.png 1x,
            ./images/hero-header/tablet/points-2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/hero-header/mobile/points-1x.png 1x,
            ./images/hero-header/mobile/points-2x.png 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="hero__images-back"
          src="./images/hero-header/desktop/points-desktop-1x.png"
          alt="points decoration"
        />
      </picture>
    </div>
  </div>
</section>
