<div id="modal-how-its-made" class="backdrop is-hidden" data-modal-how-its-made>
  <div class="modal modal__how-its-made">
    <button
      type="button"
      class="modal__close-button"
      data-modal-how-its-made-close>
      <svg>
        <use href="./images/icons.svg#cross-close"></use>
      </svg>
    </button>
      <h4 class="modal__title">How it’s made?</h4>
  <div class="video">
    <div class="video__player">
      <iframe class="video__frame"
        src="https://www.youtube.com/embed/UDbYnMN0cSo" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
    <!-- <div class="video__cover">
      <svg class="video__icon" width="27.3px" height="27.33px">
        <use href="./images/icons.svg#icon-video"></use>
      </svg>
    </div> -->
  </div>
    <p class="modal__report">The factory receives raw materials: whole milk, butter, vanilla, sugar, cocoa. Before getting caught to the production shop, future ingredients undergo a thorough inspection check. Then all the ingredients are mixed in a mixer and filtered.</p>
  </div>
</div>