.modal__its-made {
  display: block;
  margin-left: auto;
  margin-right: auto;}
.modal__how-its-made {
  padding: 0 60px;
  width: 568px;
  height: 449px;
  background: $secondary-text-color;
  border: 2px solid $primary-yellow;
  border-radius: 10px;}
.modal__video {
  background: $video-background;
  width: 448px;
  height: 205px;
  border-radius: 10px;
  margin-bottom: 32px;
  margin-top: 32px;
  line-height: 0;}
.modal__report {
  @include font(400, 16px, 22px);
  color: $primary-text-color;}

@media screen and (max-width: 767px) {
  .modal__how-its-made {
    padding: 0 28px;
    width: 280px;
    height: 459px;}
  .modal__video {
    width: 224px;
    height: 199px;
    margin-bottom: 20px;
    margin-top: 20px;}
  .modal__report {
    @include font(400, 14px, 19.6px);
    color: $primary-text-color;}}