.video{
  display: block;
  position: relative;
  margin-bottom: 32px;}
// .video__player {
//   position: relative;
//   overflow: hidden;
//   height: 0;
//   padding-bottom: 56.25%;}
.video__frame {
  width: 448px;
  height: 205px;
  border-radius: 10px;}

// .video__icon { 
//   position: absolute;
//   z-index: 10;
//   background-color: $button-text;
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal__report {
@include font(400, 16px, 22px);
  color: $primary-text-color;}

@media screen and (max-width: 767px) {
.video {
  margin-bottom: 20px;}
.video__frame{
  width: 228px;
  height: 199px;
  background-color: $primary-text-color;}
.modal__report {
@include font(400, 14px, 19.6px);}}

