.customer-reviews {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: $mobile) {
    padding-top: 80px;
    padding-bottom: 394px;
    background-image: url("../images/customer-reviews/reviews-bg-mobile-1x.png");
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/customer-reviews/reviews-bg-mobile-2x.png");
    }
  }
  @media screen and (min-width: $mobile) and (max-width: $desktop) {
    padding-top: 223px;
    padding-bottom: 383px;
    background-image: url("../images/customer-reviews/reviews-bg-tablet-1x.png");
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/customer-reviews/reviews-bg-tablet-2x.png");
    }
  }
  @media screen and (min-width: $desktop) {
    padding-top: 452px;
    padding-bottom: 207px;
    background-image: url("../images/customer-reviews/reviews-bg-desktop-1x.png");
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/customer-reviews/reviews-bg-desktop-2x.png");
    }
  }

  @media screen and (min-width: 1920px) {
    padding-top: 452px;
    padding-bottom: 207px;
    background-image: url("../images/customer-reviews/reviews-bg-1920px-1x.png");
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/customer-reviews/reviews-bg-1920px-2x.png");
    }
  }
}
.swiper .swiper-wrapper {
  padding-bottom: 32px;
}

.swiper .customer-reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  @media screen and (max-width: $tablet) {
    padding-bottom: 14px;
  }
  @media screen and (min-width: $tablet) {
    padding-bottom: 32px;
  }
}

.customer-reviews__img {
  max-width: 85px;
  border-radius: 50%;

  &:hover .customer-reviews__item {
  }
}

.swiper .customer-reviews__text {
  text-align: center;
  color: $secondary-text-color;
  background-color: $bg-color;
  border-radius: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.1);
    box-shadow: 11px 21px 93px -62px $button-text;
  }

  @media screen and (max-width: $tablet) {
    @include font(400, 12, 31);
    max-width: 280px;
    padding: 34px 39px;
    margin-top: 32px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    @include font(500, 14, 26);
    max-width: 705px;
    padding: 30px 80px;
    margin-top: 28px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: $desktop) {
    @include font(500, 16, 30);
    max-width: 968px;
    padding: 39px 74px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.swiper .customer-reviews__text-item {
  text-align: center;
  text-transform: capitalize;
  color: $primary-text-color;
  @media screen and (max-width: $tablet) {
    @include font(500, 20, 37);
  }

  @media screen and (min-width: $tablet) {
    @include font(500, 16, 30);
  }
}

/* // Slider */

.swiper .swiper-pagination {
  display: flex;
  gap: 18px;
  justify-content: center;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $bg-secondary-color;
}

.swiper .swiper-pagination-bullet-active {
  background-color: $bg-color;
}
