.products-section {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(../images/product/mobile/background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.products__item-olive {
  position: relative;
  background: $olive;
  border-radius: 24px;
  box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
}

.products__item-yellow {
  position: relative;
  background: $secondary-yellow;
  border-radius: 24px;
  box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
}

.products__item-brown {
  position: relative;
  background:$brown;
  border-radius: 24px;
  box-shadow: 0px 5px 20px rgba(32, 31, 31, 0.25);
}

.products__green-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -25%;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  background-image: url(../images/product/mobile/ice-1-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -10px;
}

.products__yellow-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -25%;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  background-image: url(../images/product/mobile/ice-2-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -10px;
}

.products__brown-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -25%;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  background-image: url(../images/product/mobile/ice-3-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -10px;
}

.products__over-title {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: $primary-text-color;
  margin-bottom: 12px;
}

.products__title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-text-color;
  margin-bottom: 148px;
}

.products__subtitle {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-text-color;
  margin-bottom: 40px;
  
}
.products__wrapper{
  flex-wrap: wrap;
    justify-content: center;
    display: flex;
   
}
.products__text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height:1.78;
  text-align: center;
  letter-spacing: 0.04em;
  color: $primary-text-color;
  margin-bottom: 29px;
}

.products__modal-open-btn {
   
  color: #131313;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      outline: none;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.25;
      transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), border-color .25s cubic-bezier(.4, 0, .2, 1);
      display: flex;
      padding: 0;
      transition: color $timinganima, border-color $timinganima;
    }
.products__modal-open-btn.products__modal-open-btn__icon{
    transition: $timinganima;
    transform: scale(1);
     }
    .products__modal-open-btn:hover .products__modal-open-btn__icon{
    transition: $timinganima;
      transform: scaleX(1.25);
}
        .products__modal-open-btn:focus .products__modal-open-btn__icon {
          transition: $timinganima;
          transform: scaleX(1.25, 1.5);
}


@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .products-section {
    background-image: url(../images/product/mobile/background-mobile@2x.jpg);
  }

  .products__green-circle {
    background-image: url(../images/product/mobile/ice-1-mobile@2x.png);
  }

  .products__yellow-circle {
    background-image: url(../images/product/mobile/ice-2-mobile@2x.png);
  }

  .products__brown-circle {
    background-image: url(../images/product/mobile/ice-3-mobile@2x.png);
  }
.products__item:not(:first-child) {
  margin-top: 164px;
}

}
@media screen and (min-width: $mobile){
      .product__item{
        width: 100%;
        border-radius: 24px;
        padding: 123px 40px 12px;
        position: relative;}
      .products__text{
              min-height: 175px;
              text-align: center;
              letter-spacing: .04em;
              margin-bottom: 29px;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.76;
                }
      .products__subtitle{
        margin-bottom: 40px;
          font-weight: 700;
          line-height: 1.23;
      }

}
@media screen and (min-width: $tablet) {
  
  .products-section {
    background-image: url(../images/product/tablet/background-tablet.jpg);
  }

  .products__green-circle {
    background-image: url(../images/product/tablet/ice-1-tablet.png);
  }

  .products__yellow-circle {
    background-image: url(../images/product/tablet/ice-2-tablet.png);
  }

  .products__brown-circle {
    background-image: url(../images/product/tablet/ice-3-tablet.png);
  }
  
  .products__circle {
    left: 12px;
  }
  .products__menu{
    gap: 16px;
    display: flex;
  }
  .products__over-title {
    font-size: 22px;
    line-height: 1.22;
  }

  .products__title {
    font-size: 34px;
    line-height: 1.26;
    margin-bottom: 200px;
  }

  .products__subtitle {
    margin-bottom: 40px;
      font-weight: 700;
      line-height: 1.23;
  }

  .products__text {
  min-height: 195px;
    font-size: 14px;
    font-weight: 400;
  }

  .products__item {
  width: calc(33.3333% - 10.6667px);
    padding: 108px 26px 12px;
  }
  .products__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-basis: calc((100% - 32px)/3);
  height:428px;
}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .products-section {
    background-image: url(../images/product/tablet/background-tablet@2x.jpg);
  }

  .products__green-circle {
    background-image: url(../images/product/tablet/ice-1-tablet@2x.png);
  }

  .products__yellow-circle {
    background-image: url(../images/product/tablet/ice-2-tablet@2x.png);
  }

  .products__brown-circle {
    background-image: url(../images/product/tablet/ice-3-tablet@2x.png);
}
}

@media screen and (min-width: 1200px) {
.products__menu {
    gap: 32px;
  }
.products__circle {
    width: 300px;
    height: 300px;
    top: -30%;
    left: 34px;
    background-position: 0 -15px;
  }

  .products-section {
    background-image: url(../images/product/desctop/background-desctop.jpg);
  }

  .products__green-circle {
    background-image: url(../images/product/desctop/ice-1-desctop.png);
  }

  .products__yellow-circle {
    background-image: url(../images/product/desctop/ice-2-desctop.png);
  }

  .products__brown-circle {
    background-image: url(../images/product/desctop/ice-3-desctop.png);
  }

  .products__item {

  width: calc(33.3333% - 21.3333px);
    height: 536px;
    padding: 166px 64px 0;

  }

  .products__over-title {
    font-size: 30px;
    line-height: 1.23;
  }

  .products__title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 303px;
  }

  .products__subtitle {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 65px;
    
  }

  .products__text {
    font-size: 16px;
    line-height: 1.75;
    min-height: 175px;
  }
  
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .products-section {
    background-image: url(../images/product/desctop/background-desctop@2x.jpg);
  }

  .products__green-circle {
    background-image: url(../images/product/desctop/ice-1-desctop@2x.png);
  }

  .products__yellow-circle {
    background-image: url(../images/product/desctop/ice-2-desctop@2x.png);
  }

  .products__brown-circle {
    background-image: url(../images/product/desctop/ice-3-desctop@2x.png);
}
}